@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p, p+p {
    text-indent: 0;
    margin: auto;
}


ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

$myCharcoal: #555;
$myOffGray: #ddd;

body {
    background: cornflowerblue;
}
 .todoView {
    max-width: 750px;
    margin: auto;
    margin-top: 12%;
    text-align: center;
    background: $myOffGray;
    border: 5px solid $myCharcoal;
    padding: 25px;
    position:relative;

    .tabs {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-100%);
        margin: auto;
        display: flex;
        justify-content: space-between;

        .tab {
            display: inline-block;
            border: 5px solid #555;
            flex: 1;
            margin: 0 25px;
            padding: 5px 10px;
            text-align: center;
            width: 100px;
            background: $myOffGray;
            cursor: pointer;
        }
    }

    input {
        border: 3px solid $myCharcoal;
        margin: 10px;
    }

    input:focus {
        outline: none;
        border: 3px solid cornflowerblue;
    }

    .todoList {
        text-align: left;

        .todoItem {
            background: $myCharcoal;
            border-bottom: none;
            padding: 2%;
            margin: 20px;
            display: flex;
            justify-content: space-between;

            p {
                display: inline-block;
                color: $myOffGray;
                flex:1;
            }

            button {
                background: $myOffGray;
                border: 3px solid cornflowerblue;
                padding: 0 3px;
                margin: 10px;
                color: cornflowerblue;
                width: 30px;
                height: 30px;
                line-height: 24px;
                font-size: 24px;
            }

            button:focus {
                outline:none;
            }
        }
    }
 }
